
.course-details{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.course-details img{
   width: 50%;
   height: 50%;
}
.course-details button{
   background-color:  blue;
   color: white;
   padding: 10px 10px;
   font-weight: bold;
border-radius: 10px;
box-shadow: 0px 4px 12px #00000026;
cursor: pointer;
   border: none;
   position: absolute;
   bottom: 0.75rem;
   right: 1rem;
   
}